@import "tailwindcss";

/* ! Config/General Settings */

html {
  scroll-behavior: smooth !important;
}

.arabic {
  font-family: "Ruwudu", serif;
}

.arabic-secondary {
  font-family: "Cairo", sans-serif;
}

.main-font {
  font-family: "Poetsen One", sans-serif;
}

/* Hero Section */

.hero-logo,
.hero-title1,
.hero-title2,
.hero-desc,
.hero-scroll {
  opacity: 0;
  transform: translateY(20%);
  animation: fade-slide-up 2s forwards cubic-bezier(0.19, 1, 0.22, 1);
}

.hero-logo {
  animation-delay: 0.25s;
}

.hero-title1 {
  animation-delay: 0.5s;
}

.hero-title2 {
  animation-delay: 0.75s;
}

.hero-desc {
  animation-delay: 1s;
}

.hero-scroll {
  animation-delay: 2s;
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}